// import variables in another Sass-file:
// @import './global/variables'; 

//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


// Media query breakpoints
$breakpoints: (
  'phone': 414px, // for iPhone 8 Plus etc.
  'tablet': 768px, // TODO: might need to change these to point that make more sense?
  'desktop': 1366px,
  'largedesktop': 1920px
) !default;


//Colors
$main-color: black;
$secondary-color: green;
$highlight-color: pink;
$background-color: lightblue;


//Fonts
$font-size-base: 10px;
$font-color: black;
$font-headline: 'Bellefair', serif;
$font-text: 'Montserrat', gotham, sans-serif;

$font-size-h1: 16rem;
$font-size-h2: 4rem;
$font-size-h3: 3rem;
$font-size-h4: 2.3rem;
$font-size-p:  1.8rem; // aka 18px 

//Misc