@import './variables';

// ----- Global Styles ----- //
:root {
    background-color: $background-color;
    font-size: $font-size-base;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headline;
    color: $font-color;
}

p {
    // TODO: can i break out color: $font-color to the :root {} ?
    color: $font-color;
    font-family: $font-text;
}

div {
    background-color: $background-color;
}




/* TODO: make it so that the font-size are determined by 
         by screen size. 
         Ex: largedesktop / 12 = 160 px (for h1)
             phone / 6 = 69 px (for h1) 
*/

// ----- Media Query specific styles ----- //
// NOTE: media queries should always be a the bottom
@media(min-width: map-get($breakpoints, 'phone')) {
    // styles for anything large than a phone goes here
}
