@import '../../global/variables';

@mixin gradientAnimation ($color1, $color2, $color3) {        
    -webkit-animation: GradientScrollAnimation 10s ease infinite;
    -moz-animation: GradientScrollAnimation 10s ease infinite;
    animation: GradientScrollAnimation 10s ease infinite;

    background: linear-gradient(45deg, $color1, $color2, $color3);
    background-size: 250% 250%;
    
    @-webkit-keyframes GradientScrollAnimation {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    @-moz-keyframes GradientScrollAnimation {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
    @keyframes GradientScrollAnimation {
        0% { background-position: 0% 50% }
        50% { background-position: 100% 50% }
        100% { background-position: 0% 50% }
    }
}


.headerContainer {
    h1 {
        margin: 0rem;
    }
}


.caseDesc {
    width: 80%;
    margin-top: 3rem;
}


.caseContainer {
    margin-top: $margin-between-blocks;

    &:first-of-type {
        margin-top: 2rem;
    }

    .caseBackground {
        width: 100%;
        height: 200px;
        margin-top: 4rem;
        
        -webkit-box-shadow: $drop-shadow;
        -moz-box-shadow: $drop-shadow;
        box-shadow: $drop-shadow;
    }

    // for the case backgrounds
    // NOTE: Use organization graphic profile colors where applicable
    &:nth-of-type(4n + 4) .caseBackground{
        @include gradientAnimation(#E79175, #fcfcfc, #E79175);
    }

    &:nth-of-type(4n + 3) .caseBackground {
        @include gradientAnimation(#3FAEB7, #fcfcfc, #187F9A);
    }

     &:nth-of-type(4n + 2) .caseBackground {
        @include gradientAnimation(darkgray, #fcfcfc, black);
    }

     &:nth-of-type(4n + 1) .caseBackground {
        @include gradientAnimation(#73A790, #fcfcfc, #577F72);
    }

    // for the Welcome landing page "case"background
    &:first-of-type .caseBackground{
        @include gradientAnimation(#F9E559, #fcfcfc, #FFCC54);
    }
}