@import '../../global/variables';

.collaborators {
    width: 100%;
    background-color: #EFB6A3;
    margin-top: 4.5em;
    padding: 3em 0em;
    text-align: center;
}

.collabHeader {
    //text-align: center;
}