@import '../../global/variables';


footer {
    margin-top: $margin-between-blocks;
    width: 100%;
    background-color: $color-background-footer;
    padding: 4rem 0rem;
}


.footerContent {
    h1 {
        color: $color-font-secondary;
    }

    p, a {
        color: $color-font-secondary;
    }

    p:first-of-type {
        margin-top: 2rem;
    }

    p a:hover {
        color: $color-change;
        text-decoration: underline;
        
    }
}
