@import '../../global/variables'; 

// TODO: I i decide to ditch bootstrap, remove !important

.navbar-custom {
    padding: 2em 0em !important;
    background-color: $color-background;

    a { // for the changing (link) text color in navbar
        color: $color-font-secondary !important;
        font-family: $font-text;
        font-size: $h3-size-phone !important;
    }
}


.navbarBrand {
    font-family: $font-headline;
    font-size: $h4-size-phone !important;

    &:before {
        // sets the brand name
        content: 'WL';
    }

    &:hover {
        text-decoration: underline !important;
    }
}

.navbarToggle {
    outline: none !important; // moved outline effect to hover/focus state.
    border: none !important;
    background-color: $color-background;
    font-size: $h4-size-phone !important;
    padding: 0px !important;
    margin: 0px !important;

    &.navbarToggle:hover,
    &.navbarToggle:focus {
        background-color: red !important;
    }
}


// ----- Media Query specific styles ----- //

@media(min-width: map-get($breakpoints, 'phone')){
    .navbarBrand {
        &:before {
            // changes the brand name 
            content: 'WILLIAM';
        }
    }
}

@media(min-width: map-get($breakpoints, 'tablet')){
    .navbarBrand {
        &:after {
            // adds to the brand name set in &:before
            content: ' ' + 'LARSSON';
        }
    }
}